@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Lato:ital,wght@1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bodoni Moda', serif;
    font-size: 1.2rem;
}
@media screen and (max-width:800px){
.container{
    flex-direction: column;padding-block: 15px;
}
.gallery{
    width: 100%;
    grid-auto-rows:100px;

}
}
#up{
    font-size: 4rem;
    
}



.container {
    min-height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right, #041308, #0b3317);
}

.left-text {
    flex-basis: 30%;
    padding: 10px;
}

.gallery {
    padding: 10px;
    flex-basis: 47%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 130px;
}

.box {

    background-size: cover;
    background-position: center;
    color: rgb(12, 3, 15);
    background-color: #222;
    background-blend-mode: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    cursor: pointer;
    transition: all 1s ease-in;
}

#box3 {
    background-position: bottom;
}

.box:hover {
    background-blend-mode: difference;
    background-position: top;
}

#pag:hover {
    background-blend-mode: difference;
    background-position: top;
}

#box3:hover {
    background-blend-mode: difference;
    background-position: top;

}

#box2 {
    grid-row: span 2;
}

.col-2 {
    grid-column: span 2;
}

.row-2 {
    grid-row: span 2;
}

.rc-2 {
    grid-column: span 2;
    grid-row: span 2;

}

.heading {
    font-size: 3rem;
    color: white;
    text-align: center;
}

#pag {
    background-position: right;
}

.subheading {
    color: #ddd;
    margin-top: 10px;
    text-align: center;

}